<div class="container">
    <p>app-panier works!</p>
        Id<input type="number" [(ngModel)]="article.id" required><br>
        Marque<input type="text" [(ngModel)]="article.marque" required><br>
        Prix <input type="number" [(ngModel)]="article.prix" required><br>
        Quantite <input type="number" [(ngModel)]="ligne.quantite" required><br>
        <button
            class="btn btn-primary"
            (click)="addToList()">Ajouter l'article à la liste
        </button>
        {{ panier.client }}
        {{ panier.prixTotal }}

    <table class="table">
        <tr>
            <th scope="col">id</th>
            <th scope="col">marque</th>
            <th scope="col">prix</th>
            <th scope="col">quantite</th>
            <th scope="col">prix Total</th>
        </tr>
        <tr *ngFor="let item of panier.listLigne" scope="col">
            <td>{{ item.Article.id }}</td>
            <td>{{ item.Article.marque }}</td>
            <td>{{ item.Article.prix }}</td>
            <td>{{ item.quantite }}</td>
            <td>{{ item.prixLigne }}</td>
        </tr>
    </table>
</div>