/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculatrice {
    text-align: center;
}

.calculatrice input[type=number] {
    padding: 15px 80px;
    margin: 5px 20px 40px 20px;
}

.calculatrice button{
    text-transform: uppercase;
}