<div class="container">
    <h1 class="text-center">Guess My Number</h1>
    <div class="calculatrice" style="padding-top: 80px;">
        <input type="number" [(ngModel)]="userNb" class="form-group" placeholder="devinez le nombre">
        <button (click)="guessNb(userNb)" class="btn btn-primary">Deviner</button>
        <h1>{{isWin}}</h1>
        <h1>En {{tryNb}} coups</h1>
        <h1>Le nombre random est : {{randomNb}}</h1>
    </div>
</div>
