<p>app9 works!</p>
Id<input type="number" [(ngModel)]="id"><br>
Prenom<input type="text" [(ngModel)]="prenom"><br>
Nom<input type="text" [(ngModel)]="nom"><br>
Age <input type="number" [(ngModel)]="age"><br>

<button (click)="create()">CREATE</button>