<div class="container">
    <h1 class="text-center">Calculatrice</h1>
    <div class="calculatrice" style="padding-top: 80px;">
        <div>
            <input type="number" [(ngModel)]="nb1" class="form-group" placeholder="NB1">
            <input type="number" [(ngModel)]="nb2" class="form-group" placeholder="NB2">
        </div>

        <button (click)="add()" class="btn btn-primary">+</button>
        <button (click)="sub()" class="btn btn-primary">-</button>
        <button (click)="mult()" class="btn btn-primary">x</button>
        <button (click)="div()" class="btn btn-primary">/</button>
        <h1>{{result}}</h1>
    </div>
</div>
