<p>app1 works!</p>
<nav style="background-color: #6786a1;">
    <div class="ui container" style="display: flex;justify-content: space-between;">

        <div class="sub_menu">
            <ul>
                <li>
                    <a [routerLink]="['/comp1']">COMP1</a>
                </li>
                <li>
                    <a [routerLink]="['/comp2']">COM2</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
