.phone-info {
    font-weight: bold;
    line-height: 20px;
    font-size: 11px;
    color: #ffffff;
    padding: 5px 0;
}
.sub_menu{  
    padding:5px;
    font-size: 12px;
    font-weight: bold; 
     
}
.sub_menu ul
{
    margin: 0;
    list-style-type: none;
    display: flex;
}
.sub_menu ul li
{
    margin-right: 12px;
}
.sub_menu ul li a{
    color: #ffffff;
}