<p>tp-articlev1 works!</p>
Id<input type="number" [(ngModel)]="a.id"><br>
Marque<input type="text" [(ngModel)]="a.marque"><br>
Prix <input type="number" [(ngModel)]="a.prix"><br>

<button (click)="create()">Create Article</button>

<div>
    <table>
        <tr *ngFor="let a of articleTab">
            <td>
                {{a.id}}
                {{a.marque}}
                {{a.prix}}
            </td>
        </tr>
    </table>
</div>