<p>app7 works!</p>
<div>
    <table>
        <tr *ngFor="let x of strTab">
            <td>
                {{x}}
            </td>
        </tr>
    
    </table>
    </div>
<input type="text" [(ngModel)]="info">

<button (click)="add()">ADD</button>