<p>app10 works!</p>
Id<input type="number" [(ngModel)]="p.id"><br>
Prenom<input type="text" [(ngModel)]="p.prenom"><br>
Nom<input type="text" [(ngModel)]="p.nom"><br>
Age <input type="number" [(ngModel)]="p.age"><br>

<button (click)="create()">CREATE</button>