<p>compbs works!</p>
<div class="container">
    <button routerLink="/comp1" class="btn btn-primary">test compbs</button>
    <button routerLink="/comp2" class="btn btn-primary">test compbs</button>
</div>
