<p>app8 works!</p>
Id<input type="number" [(ngModel)]="personne.id"><br>
Prenom<input type="text" [(ngModel)]="personne.prenom"><br>
Nom<input type="text" [(ngModel)]="personne.nom"><br>
Age <input type="number" [(ngModel)]="personne.age"><br>

<button (click)="create()">CREATE</button>